<!DOCTYPE html>
<html>
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
  <title>Home</title>
    <body>
      <div class="login_banner"></div>
      <span class="beepm_title">BEEPM</span>
      <form method="get" action="/buildings">
        <button class="buildings_title" type="submit">Buildings</button>
      </form>
      <form method="get" action="/predictions">
        <button class="preds_title" type="submit">Predictions</button>
      </form>
      <form method="get" action="/logout">
        <button class="login_title" type="submit">Logout</button>
      </form>
      <div class="table">
          <h1>Saved Buildings</h1>
          {% if table %}
            {{ table|safe }}
          {% else %}
            <p>No data available</p>
          {% endif %}
      </div>
    </body>
</html>