<!DOCTYPE html>
<html>
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
  <title>Home</title>
</html>
<body>
  <div class="login_banner"></div>
  <span class="beepm_title">BEEPM</span>
  <form method="get" action="/home">
    <button class="home_title" type="submit">Home</button>
  </form>
  <form method="get" action="/buildings">
    <button class="buildings_title" type="submit">Buildings</button>
  </form>
  <form method="get" action="/predictions">
    <button class="preds_title" type="submit">Predictions</button>
  </form>
  <form method="get" action="/logout">
    <button class="login_title" type="submit">Logout</button>
  </form>
  <span class="prediction_title">Welcome to BEEPM!</span>
  <div>
    <form method="get" action="/make_prediction">
      <input class="submit" type="submit" value="Make Prediction">
    </form>
  </div>
</body>
