<!DOCTYPE html>
<html>
  <link href="./css/main.css" rel="stylesheet" />
  <title>Home</title>
</html>
<body>
  <div class="login_banner"></div>
  <span class="beepm_title">BEEPM</span>
  <button class="login_title">Login</button>
  <span class="prediction_title">Make Prediction</span>
  <div>

      <input class="email_input" placeholder="Email" type="text" id="email_input" name="email_input"><br>
      <input class="username_input" placeholder="Username" type="text" id="username_input" name="username_input"><br>
      <input class="pass_input" placeholder="Password" type="text" id="pass_input" name="pass_input"><br>
  </div>
  <div>
      <input class="submit_login" type="submit" value="Login">
      <input class="create_user" type="submit" value="Create Account">
  </div>
</body>
